<div class="col-sm-6 col-md-4 col-lg-2 col-centered">
    <div class="mapIcon">{{mapIcon}}</div>
    <div class="facilityAddress">
        <h3>{{facilityName}}</h3> Oakland
        <br /><strong>{{hours}}</strong>
        <br /> {{{address}}}
        <br /> <a href="{{ctaAddress}}" class="btn-link">{{cta}}</a>
    </div>
</div>
