<div class="col-auto-flex">
	<div class="columnFlex">
		<div class="columnFlexItem">
			<div>
				<div class="mapIcon">{{mapIcon}}</div>
				<div class="facilityAddress">
					<h3>{{facilityName}}</h3>
					<br /><strong>{{hours}}</strong>
					<br /> {{{address}}}
					<br /> <a href="{{ctaAddress}}" class="btn-link">{{cta}}</a>
				</div>
			</div>
		</div>
	</div>
</div>