	<script src="../../js/vendor/jquery.min.js"></script>
	<script src="../../js/vendor/bootstrap.js"></script>

	<!-- build1:remove:release1 -->
		<script type="text/javascript" src="../../js/vendor/placeholder.js"></script>
	<!-- /build1 -->

	<!-- build1:remove:release1 -->
		<!--DO NOT REMOVE-->
		{{{ patternLabFoot }}}
	<!-- /build1 -->

	</body>
</html>