
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="description" content="page.description">
<meta name="keywords" content="page.keywords">
<meta name="viewport" content="width=device-width" />

<!-- build:css:production assets/css/tidy.css -->
<link rel="stylesheet" href="{{assets}}css/vendor/bootstrap.css" media="all" />
<link rel="stylesheet" href="{{assets}}css/vendor/bootstrap-theme.css" media="all" />

<link rel="stylesheet" href="{{assets}}css/bootstrap-flex.css" media="all" />
<link rel="stylesheet" href="{{assets}}css/bootstrap-centered.css">

<link rel="stylesheet" href="{{assets}}css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="{{assets}}css/vendor/slick.css">
<link rel="stylesheet" href="{{assets}}css/vendor/slick-theme.css">

<link rel="stylesheet" href="{{assets}}/css/style.css">
<!-- /build -->

<style type="text/css">
{{#if page.hero}}
	#hero {
		background-image: url('{{assets}}images/{{page.hero.heroImg}}');
	}
	@media (max-width: 865px) {
		#hero {
			background-image: url('{{assets}}images/{{page.hero.heroImgSmall}}');
		}
	}
{{/if}}
</style>

<!--Bugherd script-->
<!-- build:js:dev inline ../source/assets/js/includes/bugherd.js -->
<!-- /build -->
