	<script src="{{assets}}js/vendor/jquery.min.js"></script>
	<script src="{{assets}}js/vendor/bootstrap.js"></script>
	{{#unless production}}
		<script src="{{assets}}js/vendor/placeholder.js"></script>
	{{/unless}}