<div class="hotspotArea" id="hotspot1">
    <ul id="popout1" class="popout">
        <li>sample content</li>
        <li><a href="">this is a link</a></li>
        <li>
            <a class="btn btn-primary scrollExample" role="button"  href="{{hotspot.href}}" aria-expanded="false" aria-controls="{{hotspot.href}}">{{hotspot.linkText}}</a>
         </li>
    </ul>
</div>
