<div id="page-top"></div>
<!-- Main Menu -->
<nav id="main-menu" class="navbar navbar-default navbar-fixed-top topnavbar" role="navigation" style="display: block;">
    <div class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <a class="navbar-brand" href="{{href}}" target="_blank">
                <img src="{{src}}" alt="{{alt}}" class="">
            </a>
        </div>
    </div>
</nav>
<!-- end here -->