{{#if rule}}
	<{{headingTag}} class="ruleCenterParent {{headingClass}}"> <span class="ruleCenter">{{text}}</span> </{{headingTag}}>
{{else}}
	<{{headingTag}} class="{{headingClass}}"> {{text}} </{{headingTag}}>
{{/if}}