 <footer class="container-fluid">
        <div class="container">
            <div class="col-md-8" style="padding-bottom:20px;">
                <a href="/calpers/"><img src="assets/images/-logos/sutter-health-logo-footer-new.png" alt="Sutter Health logo"></a>
            </div>
        </div>
        <div class="container">
            <div class="col-md-8">
                <ul class="footer-nav">
                    <li><a href="/calpers/services/">Facilities &amp; Services</a></li>
                    <li><a href="/calpers/doctor/">Find a Doctor</a></li>
                    <li><a href="https://feedback.sutterhealth.org/f/134399/2350/" target="_blank" title="Opens in a new window">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 legal small">
                <span>Copyright © 2016 Sutter Health<br><a href="http://www.sutterhealth.org" target="_blank" title="Opens in New Window">www.sutterhealth.org</a></span>
            </div>
        </div>
    </footer>