<div class="container-fluid {{rowSpacingClass}}">
    <div class="imgHeroRow row">
        <div id="{{heroID}}" class="imgHero short"></div>
        {{# hotspotList }}
	       {{> hero-hotspot}}
       {{/ hotspotList }}
    </div>
</div>
