<div class="container-fluid {{rowSpacingClass}}">
    <div class="imgHeroRow row">
        <div id="hero" class="imgHero {{heroDepth}}">{{> teal-bar}}</div>
        {{> hero-headline-left}}

    </div>
</div>
