
<div id="{{name}}" class="owl-carousel owl-theme {{rowClass}} {{rowSpacingClass}}">
    {{#forEach this.drs}}
        <!--item start-->
        {{> dr-content-table-new }}
        <!--item end-->
    {{/forEach}}
</div>
