/*
User Quotes
========================================================================*/

.client-review {
    float: none;
    /* width: 75%; */
    min-height: 0;
    margin: auto;
    /* padding: 15px 20px; */
    border: 0;
}

.client-review:before {
    content: initial;
}

img.quote {
    float: left;
    width: auto;
    height: 39px;
    margin-right: 6px;
}

.client-name-title {
    font-size: .9375em;
    font-weight: 300;
    line-height: 1.1;
    margin-top: .8em;
    /* margin-bottom: 5px; */
    padding-top: .8em;
    padding-bottom: 0;
    letter-spacing: .025em;
    color: #fff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 0;
    -webkit-text-stroke: .2px;
}

.client-service-title {
    font-size: .9375em;
    font-weight: 300;
    font-style: italic;
}

.centeringInnerWrapper .client-review {
    width: 100%;
}

.largeReview {
    font-size: 22px;
}

.largeReview h4 {
    margin-bottom: 15px;
}