<div class="container {{rowSpacingClass}} {{rowClass}}">
    <!-- flex row -->
    <div class=" rowFlex row-flex-wrap gallery">
		{{# this.columns}}
	        {{> gallery-item}}
		{{/ this.columns}}
    </div>
</div>



















