
<h2 class="moduleSeperator">Colors</h2>
	<div class="container">{{> colors gpl}}</div>

<h2 class="moduleSeperator">Fonts</h2>
	<div class="container">{{> fonts}}</div>

<h2 class="moduleSeperator">Headings</h2>
<div class="container">{{> headings}}</div>

<h2 class="moduleSeperator">Page Header</h2>
<div class="container">{{> page-header}}</div>

<h2 class="moduleSeperator">Inline</h2>
<div class="container">{{> inline-elements}}</div>

<h2 class="moduleSeperator">Paragraph</h2>
<div class="container">{{> paragraph}}
</div>

<h2 class="moduleSeperator">Blockquote</h2>
<div class="container">
{{> blockquote}}
</div>

<h2 class="moduleSeperator">Preformatted Text</h2>
<div class="container">{{> preformatted-text}}</div>

<h2 class="moduleSeperator">Time</h2>
<div class="container">{{> time}}</div>

<h2 class="moduleSeperator">Definition List</h2>
	<div class="container">{{> definition dl}}</div>

<h2 class="moduleSeperator">Ordered List</h2>
	<div class="container">{{> ordered orderedList}}</div>

<h2 class="moduleSeperator">Unordered List</h2>
	<div class="container">{{> unordered unorderedList}}</div>

