<div class="container">

<h2 class="moduleSeperator">Panels</h2>
{{> panels}}

{{> panels-variants}}

<h2 class="moduleSeperator">Wells</h2>
{{> wells}}

{{> wells-variants}}

<h2 class="moduleSeperator">Jumbotron</h2>
{{> jumbotron}}

<h2 class="moduleSeperator">Thumbnails</h2>
{{> thumbnails-caption}}

<h2 class="moduleSeperator">Button Groups</h2>
{{> button-groups}}

{{> button-groups-variants}}

<h2 class="moduleSeperator">Alerts</h2>
{{> alerts}}

{{> alerts-variants}}

<h2 class="moduleSeperator">List-groups</h2>
{{> list-group}}

{{> list-group-variants}}</div>