<div class="container">{{> page-header}}</div>

<div class="container">
	{{> paragraph}}
</div>

<div class="container"><hr /></div>

<div class="container marginBottomFull">
	<div class="row">
		<div class="col-md-12">
			{{> heading headingTag="h2" text="A Heading"}}
			{{> paragraph}}
			{{> paragraph}}
			{{> blockquote}}
			{{> paragraph}}
			{{> paragraph}}
		</div>
		<div class="col-md-6">
			{{> ordered }}
		</div>
		<div class="col-md-6">
			{{> unordered }}
		</div>
	</div>
</div>

<div class="container-fluid padFull marginBottomFull colorGrey15 textCenter">
	<div class="container">
		<div class="row">
			{{> heading headingTag="h3" rule="true" text="A Heading"}}
			{{> paragraph}}
		</div>
	</div>
</div>

<div class="container marginBottom">
	{{> heading headingTag="h2" text="A Heading"}}
	{{> paragraph}}
	{{> paragraph}}

	{{> heading headingTag="h3" text="Another SubHeading"}}
	{{> paragraph}}
	{{> paragraph}}


	{{> heading headingTag="h4" text="Another SubHeading"}}
	{{> paragraph}}
	{{> paragraph}}

	{{> heading headingTag="h4" text="Another SubHeading"}}
	{{> paragraph}}
</div>

<div class="container marginBottomFull">
	<div class="row">
		<div class="col-md-3">
			{{> heading headingTag="h5" text="A Heading"}}
			{{> paragraph}}

		</div>
		<div class="col-md-3">
			{{> heading headingTag="h5" text="Another SubHeading"}}
			{{> paragraph}}
			{{> paragraph}}
		</div>
		<div class="col-md-3">
			{{> heading headingTag="h5" text="Another SubHeading"}}
			{{> paragraph}}

		</div>
		<div class="col-md-3">
			{{> heading headingTag="h5" text="Another SubHeading"}}
			{{> paragraph}}
			{{> paragraph}}
		</div>
	</div>
</div>

<div class="container-fluid padFull colorGrey15 textSmall">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{{> heading headingTag="h5" text="A Heading"}}
				{{> paragraph}}

			</div>
			<div class="col-md-6">
				{{> heading headingTag="h5" text="Another SubHeading"}}
				{{> paragraph}}
				{{> paragraph}}
			</div>
			<div class="col-md-12">
				{{> heading headingTag="h5" text="Another SubHeading"}}
				{{> paragraph}}

			</div>

		</div>
	</div>
</div>